

body {
    background-color: #2140bf;
    text-align: center;
    font-family: 'Bebas Neue';
}


h1{
    font-family: 'Bebas Neue';
    color:white;
}

img {
    height: 50%;
    width:50%;
/*    transition: width 2s, height 2s;*/
}
.bigger {
    height: 400px;
    width: 400px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}

h2{
    color:#2140bf;
}

.text_big{
    font-size:150%;
}


font-family: 'Bebas Neue', cursive;

a {
  color: rgb(202, 127, 245);
}

a:hover {
  font-size: 50%;
  color: white;
    text-shadow: 2px 2px 2px rgb(202, 127, 245);}


.red:hover{
    font-size:175%;
    color:red;
    text-shadow: 2px 2px 2px white;
}
.solid_red{
    color:red;
}
    
}

