body {
    background-color: #2140bf;
    text-align: center;
    font-family: "bebas";
}

h1{
    font-family: "bebas";
    color:white;
}

img {
    height: 50%;
    width:50%;
/*    transition: width 2s, height 2s;*/
}
.bigger {
    height: 400px;
    width: 400px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}

h2{
    color:#2140bf;
}


@font-face{
    font-family: main;
    src: https://fonts.google.com/specimen/Bebas+Neue?query=bebas
}

div {
  font-family: main;
}

.hover{
    font-size: 50%;
}