body {
    background-color: skyblue;
    text-align: center;
    font-family: main;
}

h1{
    font-family: main;
}

img {
    height: 50%;
    width:50%;
/*    transition: width 2s, height 2s;*/
}
.bigger {
    height: 400px;
    width: 400px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}

h2{
    color:skyblue;
}


@font-face{
    font-family: main;
    src:"asset/BebasNeue-Regular.ttf"
}

div {
  font-family: main;
}